@import './base.css';
@import "bootstrap";

.wrapper-page {
    background: #ececec;
    min-height: 100vh;
   // overflow: hidden;
}

$primaryColor: #9ee2df;


.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;;
    color: #007f7c !important;

    &:hover {
        color: black !important;
    }
}

.btn-outline-danger,
.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:visited,
.btn-outline-danger:focus{
    &:hover svg {
        color: white !important;
    }
}

.section {
    padding: 2rem 0;
}

.item {
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
}

.item .item-wrap {
    display: block;
    position: relative;
    overflow: hidden;
}

.item .item-wrap:after {
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease-in-out;
}

.item .item-wrap img {
    transition: 0.3s transform ease;
    transform: scale(1);
}

.item .item-wrap>.work-info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    z-index: 3;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    margin-top: 20px;
    transition: 0.3s all ease;
}

.item .item-wrap>.work-info h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.item .item-wrap>.work-info span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.item .item-wrap:hover {
    text-decoration: none;
}

.item .item-wrap:hover img {
    transform: scale(1.05);
}

.item .item-wrap:hover:after {
    opacity: 1;
    visibility: visible;
}

.item .item-wrap:hover .work-info {
    margin-top: 0px;
    opacity: 1;
    visibility: visible;
}


.h3 {
    font-size: 20px;
}

.h4 {
    font-size: 16px;
}

.heading {
    font-size: 28px;
}


